.button {
    -fx-font-weight: bold;
}

#wrapper {
    -fx-background-color: #e74c3c;
}

#labelClockDate {
    -fx-font-size: 60px;
}

.labelClockTime {
    -fx-font-size: 280px;
}

#labelPluginMessage {
    -fx-padding: 10px;
    -fx-background-radius: 10;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-font-size: 20px;
}

#menu {
    -fx-background-radius: 50;
    -fx-background-color: rgba(0,0,0,0.7);
}

#labelMenuTitle {
    -fx-font-size: 96px;
}

.labelMenuCursor {
    -fx-font-size: 72px;
}

.labelMenuItem {
    -fx-font-size: 72px;    
}

.labelDebug {
    -fx-font: 14px "Monospaced Regular";
}